body {
    font-family: 'Roboto', serif;
    background: #262626;
    color: #919191;
}

h1, h2, h3, h4, h5, h6, h7 { 
    font-family: 'Teko', sans-serif;
    color:#fff;
}

.bg-left {
  background-image: url('./images/bg2.png');
  width:100%;
  height:700px;
}

.box {
  width:50%;
  margin: 0 auto;
}

nav {
  background-color:#202020;
}

.logo-container img {
  margin-top:17px;
}
.page-footer {
  background-color:#202020;
}

.gray1 {
  background-color:#202020;
  height:700px;
}
.bg-right {
  background-image: url('./images/bg3.png');
  width:100%;
  height:700px;
}

.parallax-container {
  background-image: url('./images/bg.jpg');
  background-size: 100% auto;
  background-color: #000;
  height:700px;
}

.parallax{
  position:static;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #ccc;
}

nav ul li:hover{
  background-color: #C62828;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 440px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.block {
  padding: 40px 95px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}